* {
  box-sizing: border-box;
}
:root {
  --bg-main: #10375c;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}
/* ====================== common ======================== */
/* 4 thẻ này để kế thừa */
input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
}
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
a {
  text-decoration: none;
}
.btn {
  display: inline-block;
  min-width: 205px;
  line-height: 60px;
  background-color: #2e80ce;
  border-radius: 999px;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
}
.btn:hover {
  opacity: 0.9;
}

.heading-lv2 {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2; /* 120% */
  letter-spacing: -1px;
}

.desc-fs18 {
  margin-top: 18px;
  color: #575f66;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
}

/* control btn */
.control {
  display: flex;
  align-items: center;
  gap: 18px;
}

.control__btn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #2e80ce;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  cursor: pointer;
}

.control__btn:hover {
  background: #2e80ce;
  color: #fff;
}

.control__btn--next {
  /* xoay mũi tên 180 độ */
  rotate: 180deg;
}
/* ====================== header ======================== */
.header {
  padding: 30px 0 110px;
  background: var(--bg-main);
  min-height: 100vh;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .navbar__list {
  display: flex;
}
.header__action--log,
.navbar__link {
  padding: 8px 21px;
  color: #c9d2da;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}
.navbar__link:hover,
.navbar__link--active {
  text-shadow: 1px 0 #fff;
  color: #fff;
}
.navbar__link--active::before {
  position: relative;
  top: -2px;
  right: 8px;
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
}
.header__action {
  display: flex;
  align-items: center;
}
.header__action--sign {
  min-width: 104px;
  line-height: 44px;
  font-size: 1.6rem;
}
.header__action--log {
  margin-right: 7px;
}
/* ====================== hero ======================== */
.hero {
  padding-top: 76px;
  display: flex;
  align-items: center;
}
.hero__content {
  width: 44%;
}
.hero__media {
  flex: 1;
}
.hero__heading {
  width: 517px;
  color: #fff;
  font-size: 7rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.14; /* 114.286% */
  letter-spacing: -1.4px;
}
.hero__desc {
  max-width: 468px;
  margin-top: 22px;
  color: #c9d2da;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
}
.hero__row {
  margin-top: 38px;
  display: flex;
  align-items: center;
  column-gap: 38px;
}
.hero__phone {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.67; /* 166.667% */
}
.hero__images {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.hero__img {
  border-radius: 6px;
  object-fit: cover;
  box-shadow: 0 3px 10px #2e80ce;
}
.hero__img-large {
  width: 330px;
  height: 540px;
  margin-left: 6px;
  z-index: 1;
}
.hero__img-small {
  width: 210px;
  height: 410px;
}
/* ====================== hero ======================== */
.services {
  padding: 170px 0;
  background: #fff;
}

.services__heading,
.services__desc {
  text-align: center;
}
.services__desc {
  width: 468px;
  margin: 18px auto 0;
}

.services__row {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.services__img {
  width: 570px;
  height: 570px;
  border-radius: 12px;
  object-fit: cover;
}
.services-item {
  padding: 21px;
  display: flex;
  width: 470px;
  border-radius: 10px;
  background: #fff;
  transition: 0.3s;
}
.services-item:hover {
  position: relative;
  box-shadow: 0px 14px 28px 0px #2e81ce45;
}

.services-item:hover .services-item__icon {
  color: #fff;
  background-color: #2e80ce;
}
.services-item__icon {
  margin-right: 19px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: #eff6fd;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  transition: 0.3s;
}

.services-item__title {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: normal;
}

.services-item__desc {
  display: inline-block;
  margin-top: 8px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}

.services__btn {
  margin-top: 55px;
}
/* ====================== Works ======================== */
.works {
  padding: 100px 0;
  background: #f6fbff;
}
.works__desc {
  width: 468px;
}
.works__list {
  margin-top: 86px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}
.works-item {
  padding: 43px;
  border-radius: 4px;
  background: #fff;
  border: 16px solid #eaf6ff;
  transition: 0.3s;
}
.works-item:hover {
  border-color: #2e80ce;
  /* dịch from theo trục y */
  transform: translateY(-16px);
}
.works-item__title {
  margin-top: 18px;
  color: #10375c;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.38; /* 138.462% */
}
.works-item__desc {
  margin-top: 28px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}
.works-item__more {
  display: inline-block;
  margin-top: 18px;
  color: #2e80ce;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}
.works-item__more:active {
  color: #10375c;
}
/* ====================== About us ======================== */
.about {
  margin-top: 85px;
  padding: 85px 0 206px;
  background-color: rgba(253, 241, 226, 0.3);
}
.about-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__media {
  width: 49%;
}
.about__content {
  width: 40%;
  margin-top: 82px;
}

.about__images {
  position: relative;
}

.about__img--large {
  display: flex;
  width: 512px;
  height: 370px;
  border-radius: 6px;
  object-fit: cover;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.07);
}
.about__img--small {
  position: absolute;
  top: 121px;
  left: 238px;
  width: 332px;
  height: 370px;
  border-radius: 6px;
  object-fit: cover;
}
.about__content--btn {
  margin-top: 38px;
}
/* ====================== Team ======================== */
.team {
  padding: 85px 0;
}
.team__top {
  text-align: center;
  margin: 0 auto;
}
.team__top--btn {
  margin-top: 38px;
}
.team__doctor {
  margin-top: 70px;
  display: grid;
  column-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}

.team-item:hover .team-item__thumb {
  transform: scale(1.1);
}
.team-item__bg {
  border-radius: 8px;
  background: #eaf6ff;
  padding: 28px 4px 0;
  overflow: hidden;
}

.team-item__thumb {
  height: 290px;
  max-width: 100%;
  object-fit: cover;
  display: block;
  transition: 0.3s;
}
.team-item__name {
  margin-top: 12px;
  color: #10375c;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.75; /* 175% */
}
.team-item__desc {
  color: #575f66;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.86; /* 185.714% */
}
.team__cta {
  margin-top: 38px;
  justify-content: center;
}
/* ====================== Install mobile ======================== */
.install {
  margin: 180px 0 85px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
  height: 427px;
  border-radius: 4px;
  background: #2e80ce;
}
.install__img {
  position: absolute;
  bottom: 0;
  width: 284px;
  height: 522px;
  object-fit: cover;
}
.install__content {
  max-width: 586px;
}
.install__heading {
  width: 489px;
  color: #fff;
}
.install__desc {
  color: #fff;
}
.install__cta {
  display: flex;
  margin-top: 38px;
  column-gap: 28px;
}
/* ====================== Blog ======================== */
.blog {
  padding: 85px 0;
  background-color: #f6fbff;
}
.blog__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog__content {
  width: 40%;
}
.blog__heading {
  width: 470px;
}
.blog__read {
  display: inline-block;
  margin-top: 28px;
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.56; /* 155.556% */
  text-decoration-line: underline;
  text-underline-offset: 5px;
}
.blog__cta {
  margin-top: 28px;
  justify-content: flex-start;
}
.blog__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
}
.blog-item {
  max-width: 270px;
  border-radius: 12px;
  border: 1px solid #2e80ce;
  background: #fff;
  overflow: hidden;
  transition: 0.3s;
}
.blog-item:hover {
  box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.07);
  border-color: transparent;
}

.blog-item:hover .blog-item__thumb {
  transform: scale(1.1);
}
.blog-item__wrap {
  height: 172px;
  overflow: hidden;
}
.blog-item__thumb {
  width: 270px;
  height: 172px;
  border-radius: 12px 12px 0px 0px;
  object-fit: cover;
  transition: 0.3s;
}
.blog-item__info {
  padding: 18px 22px;
}
.blog-item__title {
  color: #10375c;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.63; /* 162.5% */
}
.blog-item__desc {
  margin-top: 10px;
  color: #575f66;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.71; /* 171.429% */
}
.blog-item__more {
  display: inline-block;
  margin-top: 12px;
  color: #10375c;
  font-size: 1.4rem;
  font-weight: 400;
}
.blog-item__more:hover {
  color: #2e80ce;
}
/* ====================== CTA ======================== */
.cta {
  padding-top: 85px;
}
.cta__body {
  padding: 100px 178px;
  background-color: rgba(253, 241, 226, 0.3);
  text-align: center;
}
.cta__heading {
  max-width: 813px;
}
.cta__heading::after {
  content: "";
  display: block;
  width: 136px;
  height: 2px;
  background: #2e80ce;
  margin: 18px auto 0;
}
.cta__desc {
  margin: 18px auto 0;
  max-width: 617px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}
.cta__btn {
  margin: 38px auto 0;
}
/* ====================== Footer ======================== */
.footer {
  margin-top: 170px;
  padding: 100px 0 0;
  background: #10375c;
  font-family: "Open Sans", serif;
}
.footer__top {
  display: grid;
  grid-template-columns: 1fr 0.4fr 0.4fr 1fr;
  column-gap: 78px;
}
.footer__desc {
  margin-top: 21px;
  color: #a9b3bb;
  font-size: 1.6rem;
  line-height: 1.75; /* 175% */
}
.footer__title {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75; /* 175% */
}
.footer__list {
  margin: 20px 0 28px;
}
.footer__item {
  margin-top: 10px;
}
.footer__link {
  color: #a9b3bb;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
  white-space: nowrap;
}
.footer__social {
  margin: 20px 0 28px;
  display: flex;
  column-gap: 10px;
}
.footer__social--btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #fff;
  color: #2e80ce;
  transition: 0.3s;
}
.footer__social--btn:hover {
  background: #2e80ce;
  color: #fff;
}
.footer-form {
  margin-top: 10px;
  display: flex;
  column-gap: 12px;
}
.footer-form__email {
  width: 212px;
  height: 46px;
  border-radius: 4px;
  border: 1px solid #406181;
  background: transparent;
  outline: none;
  color: #fff;
}
.footer-form__email::placeholder {
  color: #9ca8b1;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
}
.footer-form__sub {
  width: 108px;
  height: 46px;
  border-radius: 4px;
  background: #2e80ce;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.86; /* 185.714% */
  border: none;
}
.footer-form__sub:hover {
  cursor: pointer;
  opacity: 0.9;
}
.footer__copyright {
  border-top: 1px solid #406181;
}
.footer__text {
  padding: 28px 0 42px;
  color: #aab3ba;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
}

/* aos */
[data-aos] {
  visibility: hidden;
}
[data-aos].animate__animated {
  visibility: visible;
}
